**/__pycache__/
*.zip
**/.vscode/**
**/*.tar*
**/backup
*.lprof
template/*
template/world_client.py
**/data/
test*
**/notes/**
analysis*/**
store/**
**/**Experiment**/**
.env
**/Autonomous_Dataset/**
log/*
uv.lock
*.jpg
*.png
*.jpeg
*.bmp
dist
*.npy
*.pt
*.npz